
$theme_yellow: #f5ea14;    
$theme_blue: #29a9e1;    
$theme_white: rgb(230,230,230); //#f9f9f9;    		
$theme_black: rgb(25,25,25);    //#111111;  

body {
	background-color: rgb(0,0,0);
	#main-body {
		position: fixed;
	}
	canvas {
		cursor: default;
		background-color: white; /* rgba(15,15,15,0.9); */
		height: 100%;
		width: 100%;
	}
	background-color: $theme_black;
	::selection {
		/* background-color: $theme_black; */
		color: $theme_yellow;
	}
	#logo {
		height: 92px;
		width: 252px;
		position: fixed;
		top: 10px;
		z-index: 2;
	}
	#arrow {
		height: 81px;
		position: fixed;
		top: 40%;
		opacity: 0;
		z-index: 2;
		left: -1000px;
	}
	#navigation {
		position: fixed;
		list-style: none;
		color: $theme_white;
		left: 110px;
		top: 250px;
		a {
			text-decoration: none;
			color: $theme_white;
			transition: color 0.3s ease-out;
		}
		a:hover {
			color: transparentize(rgb(10,10,10), 0.3);
			
		}
		.nav-item {
			font-family: 'Cubano-Regular';
			font-size: 100px;
			margin-bottom: 40px;
		}
	}
	#canvas-background {
		height: 100%;
		width: 150%;
		float: right;
		position: fixed;
		top: 0;
		right: 0;
		z-index: -1;
		canvas {
			cursor: default;
			background-color: $theme_black;
		}
	}
	#about {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		right: -100%;
		background-color: rgba(10,10,10,0.85);
	}
}